@charset "utf-8";
body   {
    background-color: #2B2A2A;
    color: #FFFFFF;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 5px 0px #000000;
}
h1 {
    color: #9798A0;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    text-align: center;
    text-decoration: none;

}
table {
    background-color: #424242;
    color: #FFFFFF;
    font-style: normal;
    font-size: medium;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-variant: normal;
    font-weight: bold;
    text-align: justify;
}
